<template>
  <div class="ct-chart"></div>
</template>

<script>
  import Chartist from 'chartist'
  const types = ['Line', 'Bar', 'Pie'];

  // first we build our tooltip methods
  (function (window, document, Chartist) {
    'use strict';

    var defaultOptions = {
      currency: undefined,
      currencyFormatCallback: undefined,
      tooltipOffset: {
        x: 0,
        y: -20
      },
      anchorToPoint: true,
      appendToBody: true,
      class: undefined,
      pointClass: 'ct-point'
    };

    Chartist.plugins = Chartist.plugins || {};
    Chartist.plugins.tooltip = function (options) {
      options = Chartist.extend({}, defaultOptions, options);

      return function tooltip(chart) {
        var tooltipSelector = options.pointClass;

        if (chart instanceof Chartist.Bar) {
          tooltipSelector = 'ct-bar';
        } else if (chart instanceof Chartist.Pie) {
          if (chart.options.donut) {
            tooltipSelector = 'ct-slice-donut';
          } else {
            tooltipSelector = 'ct-slice-pie';
          }
        }

        var chartContainer = chart.container;
        var tooltipElements = chartContainer.querySelector('.chartist-tooltip');

        if (!tooltipElements) {
          tooltipElements = document.createElement('div');
          tooltipElements.className = (!options.class) ? 'chartist-tooltip' : 'chartist-tooltip ' + options.class;
          if (!options.appendToBody) {
            chartContainer.appendChild(tooltipElements);
          } else {
            document.body.appendChild(tooltipElements);
          }
        }

        var height = tooltipElements.offsetHeight;
        var width = tooltipElements.offsetWidth;

        hide(tooltipElements);

        function on(event, selector, callback) {
          chartContainer.addEventListener(event, function (e) {
            if (!selector || hasClass(e.target, selector))
              callback(e);
          });
        }

        on('mouseover', tooltipSelector, function (event) {
          var tooltipTarget = event.target;
          var tooltipText = '';

          var isPieChart = (chart instanceof Chartist.Pie) ? tooltipTarget : tooltipTarget.parentNode;
          var seriesName = (isPieChart) ? tooltipTarget.parentNode.getAttribute('ct:meta') || tooltipTarget.parentNode.getAttribute('ct:series-name') : '';
          var meta = tooltipTarget.getAttribute('ct:meta') || seriesName || '';
          var hasMeta = !!meta;
          var value = tooltipTarget.getAttribute('ct:value');

          console.log(value);

          if (options.transformTooltipTextFnc && typeof options.transformTooltipTextFnc === 'function') {
            value = options.transformTooltipTextFnc(value);
          }

          if (options.tooltipFnc && typeof options.tooltipFnc === 'function') {
            tooltipText = options.tooltipFnc(meta, value);
          } else {
            if (options.metaIsHTML) {
              var txt = document.createElement('textarea');
              txt.innerHTML = meta;
              meta = txt.value;
            }

            meta = '<span class="chartist-tooltip-meta">' + meta + '</span>';

            if (hasMeta) {
              tooltipText += meta + '<br>';
            } else {
              if (chart instanceof Chartist.Pie) {
                var label = next(tooltipTarget, 'ct-label');

                if (label) {
                  tooltipText += text(label) + '<br>';
                }
              }
            }

            if (value) {
              if (options.currency) {
                if (options.currencyFormatCallback != undefined) {
                  value = options.currencyFormatCallback(value, options);
                } else {
                  value = options.currency + value.replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1,');
                }
              }

              value = '<span class="chartist-tooltip-value">' + value + '</span>';
              tooltipText += value;
            }
          }

          if (tooltipText) {
            tooltipElements.innerHTML = tooltipText;
            setPosition(event);
            show(tooltipElements);

            // remember height and width to avoid wrong position in IE
            height = tooltipElements.offsetHeight;
            width = tooltipElements.offsetWidth;
          }
        });

        on('mouseout', tooltipSelector, function () {
          hide(tooltipElements);
        });

        on('mousemove', null, function (event) {
          if (false === options.anchorToPoint) {
            setPosition(event);
          }
        });

        function setPosition(event) {
          height = height || tooltipElements.offsetHeight;
          width = width || tooltipElements.offsetWidth;
          var offsetX = - width / 2 + options.tooltipOffset.x
          var offsetY = - height + options.tooltipOffset.y;
          var anchorX, anchorY;

          if (!options.appendToBody) {
            var box = chartContainer.getBoundingClientRect();
            var left = event.pageX - box.left - window.pageXOffset ;
            var top = event.pageY - box.top - window.pageYOffset ;

            if (true === options.anchorToPoint && event.target.x2 && event.target.y2) {
              anchorX = parseInt(event.target.x2.baseVal.value);
              anchorY = parseInt(event.target.y2.baseVal.value);
            }

            tooltipElements.style.top = (anchorY || top) + offsetY + 'px';
            tooltipElements.style.left = (anchorX || left) + offsetX + 'px';
          } else {
            tooltipElements.style.top = event.pageY + offsetY + 'px';
            tooltipElements.style.left = event.pageX + offsetX + 'px';
          }
        }
      }
    };

    function show(element) {
      if(!hasClass(element, 'tooltip-show')) {
        element.className = element.className + ' tooltip-show';
      }
    }

    function hide(element) {
      var regex = new RegExp('tooltip-show' + '\\s*', 'gi');
      element.className = element.className.replace(regex, '').trim();
    }

    function hasClass(element, className) {
      return (' ' + element.getAttribute('class') + ' ').indexOf(' ' + className + ' ') > -1;
    }

    function next(element, className) {
      do {
        element = element.nextSibling;
      } while (element && !hasClass(element, className));
      return element;
    }

    function text(element) {
      return element.innerText || element.textContent;
    }

  }(window, document, Chartist));

  // then we build our charts
  export default {
    props: {
      type: {
        type: String,
        default: 'Line',
        required: true,
        validator: (value) => types.includes(value)
      },

      data: {
        type: Object,
        required: true,
        default: () => ({})
      },

      options: {
        type: Object,
        default: () => ({})
      },

      responsiveOptions: {
        type: Array,
        default: () => ([])
      }
    },

    data () {
      return {
        chart: null
      }
    },

    mounted () {
      if (typeof this.options.tooltip !== 'undefined' && !!this.options.tooltip) {
        this.options.plugins = [Chartist.plugins.tooltip({
          tooltipFnc: function(meta, value) {
            var txt = document.createElement("textarea");
            txt.innerHTML = meta;

            if (meta) {
              meta = JSON.parse(txt.value);
              return [meta.data.domain.url, '<small>(' + meta.data.keyword + ')</small>', -value].join('<br />');
            }

            return false;
          }
        })];
      }

      /*
      this.options.lineSmooth = Chartist.Interpolation.none({
        fillHoles: true,
      });
      */

      this.chart = new Chartist[this.type](
        this.$el,
        this.data,
        this.options,
        this.responsiveOptions
      )

    },

    watch: {
      data (val) {
        this.$nextTick(() => this.chart.update())
      }
    },
  }
</script>

<style lang="scss">
  @import '~chartist/dist/scss/chartist';
  
  .ct-chart {
    max-width: 100%;
  }

  .chartist-tooltip {
    position: absolute;
    display: inline-block;
    opacity: 0;
    min-width: 5em;
    padding: .5em;
    background: #F4C63D;
    color: #453D3F;
    font-family: Oxygen,Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-align: center;
    pointer-events: none;
    z-index: 1;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear; }

  .chartist-tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #F4C63D; }

  .chartist-tooltip.tooltip-show {
    opacity: 1; }

  .ct-area, .ct-line {
    pointer-events: none; }
</style>