<template></template>

<script>
    export default {
        created() {
            var self = this;

            $(document).on('click', ".hopscotch-close", function(e) {
                self.disableTour();
            });
        },

        methods: {
            /**
             * Disable tour setting in DB.
             */
            disableTour() {
                axios.post('/settings/tour/disable');
            }
        }
    }
</script>