<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">Create Blog Post</div>

      <div class="panel-body">
        <div class="alert alert-info">
          Blog Posts you create here will be displayed in the GainRank homepage.
        </div>

        <form class="form-horizontal" role="form">
          <!-- Title Text -->
          <div class="form-group" :class="{'has-error': createForm.errors.has('title')}">
            <label class="col-md-2 control-label">Title</label>

            <div class="col-md-10">
              <input type="text" class="form-control" name="title" v-model="createForm.title">

                            <span class="help-block" v-show="createForm.errors.has('title')">
                                {{ createForm.errors.get('title') }}
                            </span>
            </div>
          </div>

          <!-- Tags / Categories -->
          <div class="form-group">
            <label class="col-md-2 control-label">Categories</label>

            <div class="col-md-10">
              <multiselect
                v-model="createForm.selectedCategories"
                :options="categoriesList"
                tag-placeholder="Add this as new category"
                placeholder="Search or add a category"
                :multiple="true"
                :taggable="true"
                @tag="addCategoryTag($event, 'createForm')"></multiselect>
            </div>
          </div>

          <!-- Hero Image -->
          <div class="form-group upload" :class="{'has-error': createForm.errors.has('selectedFile.image')}" id="uploadbox">
            <label class="col-md-2 control-label">Hero Image</label>
            <div class="col-md-10">
              <div class="row">
                <input class="upload-input" id="upload-input" type="file" @change="onFileChange('createForm', $event)"/>
                <div class="col-xs-12 col-sm-9 col-md-8">
                  <input class="upload-filename form-control" :value="uploadFile.name" readonly="readonly"/>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-4">
                  <label class="upload-button btn btn-primary" for="upload-input">Select Image</label>
                </div>
              </div>
              <div class="row no-margin">
                <div id="filedrag" @dragover="fileDragHover" @dragleave="fileDragHover" @drop="onFileChange('createForm', $event)">
                or drop files here
                </div>
                <img class="upload-img" :src="uploadFile.image"/>
              </div>
            </div>
          </div>

          <!-- Body -->
          <div class="form-group" :class="{'has-error': createForm.errors.has('body')}">
            <label class="col-md-2 control-label">Body</label>

            <div class="col-md-10">

              <quill-editor ref="myTextEditor" v-model="createForm.body">
              </quill-editor>
              <div class="html ql-editor" v-html="createForm.body"></div>
                            <span class="help-block" v-show="createForm.errors.has('body')">
                                {{ createForm.errors.get('body') }}
                            </span>
            </div>
          </div>

          <!-- Create Button -->
          <div class="form-group">
            <label class="col-xs-offset-3 col-xs-5 col-sm-offset-7 col-sm-3 control-label text-right">Published <input type="checkbox" name="published" v-model="createForm.published"></label>
            <div class="col-xs-4 col-sm-2">
              <button type="submit" class="btn btn-primary create-button"
                      @click.prevent="create"
                      :disabled="createForm.busy">

                Create
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Recent Posts List -->
    <div class="panel panel-default" v-if="posts.length > 0">
      <div class="panel-heading">Recent Posts</div>

      <div class="panel-body">
        <table class="table table-borderless m-b-none">
          <thead>
          <th>Title</th>
          <th>Date</th>
          <th>Published</th>
          <th></th>
          </thead>

          <tbody>
          <tr v-for="post in posts">
            <!-- Title -->
            <td>
              <div class="btn-table-align">
                {{ post.title }}
              </div>
            </td>

            <!-- Date -->
            <td>
              <div class="btn-table-align">
                {{ post.created_at | datetime }}
              </div>
            </td>

           <!-- Published -->
            <td>
              <i class="fa fa-check-square-o" v-if="post.published"></i>
              <i class="fa fa-square-o" v-else></i>
            </td>
            <td>
              <!-- Preview Button -->
              <a :href="'/posts/' + post.id" target="_blank">
                <button class="btn btn-success-outline">
                  <i class="fa fa-eye"></i>
                </button>
              </a>
              <!-- Edit Button -->
              <button class="btn btn-primary" @click="editPost(post)">
                <i class="fa fa-pencil"></i>
              </button>

            <!-- Delete Button -->
              <button class="btn btn-danger-outline" @click="approvePostDelete(post)">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary" @click="previousPage" :disabled="page <= 1">
          Previous
        </button>
        <button type="button" class="btn btn-primary" @click="nextPage" :disabled="page >= last_page">
          Next
        </button>
      </div>
    </div>

    <!-- Edit Post Modal -->
    <div class="modal fade" id="modal-update-post" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" v-if="updatingPost">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button " class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            <h4 class="modal-title">
              Update Post
            </h4>
          </div>

          <div class="modal-body">
            <!-- Update Post -->
            <form class="form-horizontal" role="form">

              <!-- Title -->
              <div class="form-group" :class="{'has-error': updateForm.errors.has('title')}">
                <label class="col-md-2 control-label">Title</label>

                <div class="col-md-10">
                  <input type="text" class="form-control" name="title" v-model="updateForm.title">

                                    <span class="help-block" v-show="updateForm.errors.has('title')">
                                        {{ updateForm.errors.get('title') }}
                                    </span>
                </div>
              </div>

              <!-- Tags / Categories -->
              <div class="form-group">
                <label class="col-md-2 control-label">Categories</label>

                <div class="col-md-10">
                  <multiselect
                    v-model="updateForm.selectedCategories"
                    :options="categoriesList"
                    tag-placeholder="Add this as new category"
                    placeholder="Search or add a category"
                    :multiple="true"
                    :taggable="true"
                    @tag="addCategoryTag($event, 'updateForm')"></multiselect>
                </div>
              </div>

              <!-- Hero Image -->
              <div class="form-group upload" :class="{'has-error': updateForm.errors.has('selectedFile.image')}" id="uploadbox-modal">
                <label class="col-md-2 control-label">Hero Image</label>
                <div class="col-md-10">
                  <div class="row">
                    <input class="upload-input" id="upload-input-modal" type="file" @change="onFileChange('updateForm', $event)"/>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                      <input class="upload-filename form-control" :value="uploadFile.name" readonly="readonly"/>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-4">
                      <label class="upload-button btn btn-primary" for="upload-input-modal">Select Image</label>
                    </div>
                  </div>
                  <div class="row no-margin">
                    <div id="filedrag-modal" @dragover="fileDragHover" @dragleave="fileDragHover" @drop="onFileChange('updateForm', $event)">
                      or drop files here
                    </div>
                    <img class="upload-img" :src="uploadFile.image"/>
                  </div>
                </div>
              </div>
              <!-- Post -->
              <div class="form-group" :class="{'has-error': updateForm.errors.has('body')}">
                <label class="col-md-2 control-label">Body</label>

                <div class="col-md-10">
                  <quill-editor ref="myTextEditor" v-model="updateForm.body">
                  </quill-editor>
                  <div class="html ql-editor" v-html="updateForm.body"></div>

                  <span class="help-block" v-show="updateForm.errors.has('body')">
                      {{ updateForm.errors.get('body') }}
                  </span>
                </div>
              </div>

            </form>
          </div>

          <!-- Modal Actions -->
          <div class="modal-footer">
            <label class="control-label">Published <input type="checkbox" name="published" v-model="updateForm.published"></label>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            <button type="button" class="btn btn-primary" @click="update" :disabled="updateForm.busy">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Post Modal -->
    <div class="modal fade" id="modal-delete-post" tabindex="-1" role="dialog">
      <div class="modal-dialog" v-if="deletingPost">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button " class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            <h4 class="modal-title">
              Delete Post
            </h4>
          </div>

          <div class="modal-body">
            Are you sure you want to delete this post?
          </div>

          <!-- Modal Actions -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No, Go Back</button>

            <button type="button" class="btn btn-danger" @click="deletePost" :disabled="deleteForm.busy">
              Yes, Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Multiselect from 'vue-multiselect'

  var postsCreateForm = function () {
    return {
      title: '',
      body: '',
      published: 1,
      selectedCategories: [],
      selectedFile: {
        image: '',
        name: ''
      },
    };
  };

  export default {
    /**
     * Other components used by the present one.
     */
    components: { Multiselect },
    /**
     * The component's data.
     */
    data() {
      return {
        posts: [],
        updatingPost: null,
        deletingPost: null,

        createForm: new SparkForm(postsCreateForm()),
        updateForm: new SparkForm(postsCreateForm()),

        deleteForm: new SparkForm({}),

        categoriesList: [],
        uploadFile: {
          image: '',
          name: ''
        },
      };
    },


    /**
     * The component has been created by Vue.
     */
    created() {
      var self = this;

      Bus.$on('sparkHashChanged', function (hash, parameters) {
        if (hash == 'posts' && self.posts.length === 0) {
          self.getPosts();
        }
      });
    },

    mounted() {
      var self = this;
      this.$nextTick(function () {
        $('#modal-update-post').on('hide.bs.modal', function () {
          self.uploadFile.image = '';
        })
      })
    },


    methods: {
      /**
       * Get all of the posts.
       */
      getPosts() {
        this.page = this.page || 0;
        this.last_page = this.last_page || 0;
        axios.get('/posts?page=' + this.page)
          .then(response => {
            this.page = response.data.current_page;
            this.last_page = response.data.last_page;
            this.posts = response.data.data;
        });
        this.getCategories();
      },

      /**
       * Display the next page of Posts.
       */
      nextPage() {
        this.page += 1;
        this.getPosts();
      },


      /**
       * Display the previous page of Posts.
       */
      previousPage() {
        this.page -= 1;
        this.getPosts();
      },

      /**
       * Create a new post.
       */
      create() {
        Spark.post('/posts', this.createForm)
          .then(() => {
            this.createForm = new SparkForm(postsCreateForm());
            this.uploadFile.image = '';
            this.uploadFile.name = '';
            this.getPosts();
          });
      },


      /**
       * Edit the given post.
       */
      editPost(post) {
        var postCategories = [];
        for (var i=0, tagsLen=post.tags.length; i < tagsLen; i++){
          // TODO the en property/key below will have to become dynamic for i18n
          postCategories.push(post.tags[i].name.en);
        }
        this.updatingPost = post;

        this.uploadFile.image = '/storage/' + post.media[0].disk + '/' + post.media[0].id + '/' + post.media[0].file_name;
        this.uploadFile.name = post.media[0].file_name;
        this.updateForm.title = post.title;
        this.updateForm.selectedCategories = postCategories;
        this.updateForm.body = post.body;
        this.updateForm.published = post.published;

        $('#modal-update-post').modal('show');
      },


      /**
       * Update the specified post.
       */
      update() {
        Spark.put('/posts/' + this.updatingPost.id, this.updateForm)
          .then(() => {
            this.getPosts();
            this.uploadFile.image = '';
            this.uploadFile.name = '';
            $('#modal-update-post').modal('hide');
          });
      },


      /**
       * Show the approval dialog for deleting an post.
       */
      approvePostDelete(post) {
        this.deletingPost = post;

        $('#modal-delete-post').modal('show');
      },


      /**
       * Delete the specified post.
       */
      deletePost() {
        Spark.delete('/posts/' + this.deletingPost.id, this.deleteForm)
          .then(() => {
            this.getPosts();

            $('#modal-delete-post').modal('hide');
          });
      },

      /**
       * Get all the categories.
       */
      getCategories() {
        axios.get('/posts/categories')
        .then(response => {
          this.categoriesList = response.data;
        });
      },

      /**
       * Add a new tag/category to the list and select it.
       * @param newTag
       */
      addCategoryTag(newTag, formType) {
        this.categoriesList.push(newTag);
        this[formType].selectedCategories.push(newTag);
      },

      /**
       * Process the file upload.
       * @param e
       * @returns {*}
       */
      onFileChange (formType, e) {
        var files;
        e.preventDefault();
        e.target.classList.remove('hover');
        files = e.target.files || e.dataTransfer.files;
        if (!files.length) {
          return;
        }
        return this.createImage(formType, files[0]);
      },

      /**
       * Render the uploaded image's preview.
       * @param file
       */
      createImage (formType, file) {
        var image, self, reader;
        image = new Image();
        reader = new FileReader();
        self = this;
        self.uploadFile.name = file.name;
        reader.onload = function(e) {
          return self.uploadFile.image = e.target.result;
        };
        this[formType].selectedFile = self.uploadFile;
        return reader.readAsDataURL(file);
      },

      /**
       * Handle drag & drop events for image uploading.
       * @param e
       * @returns {string}
       * @constructor
       */
      fileDragHover (e) {
        e.stopPropagation();
        e.preventDefault();
        return e.target.className = e.type === 'dragover' ? 'hover' : '';
      },
    }
  }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style lang="scss">
  .ql-container .ql-editor {
    min-height: 20em;
    padding-bottom: 1em;
    max-height: 25em;
  }
  .html {
    height: 9em;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    resize: vertical;
  }
  .upload {
    input {
      outline: none;
    }

    .upload-img {
       display: block;
       margin: 30px auto;
       height: auto;
       max-width: 100%;
     }

    .upload-input {
       display: none;
     }

    .upload-filename { padding-left: 10px; }

    .upload-button {
      padding-top: 7px;
      padding-bottom: 7px;
      width: 100%;

      @media screen and (max-width: 767px) { margin-top: 15px; }
    }
  }
  #filedrag-modal,
  #filedrag {
    width: 100%;
    margin: 30px auto;
    padding: 50px;
    background: rgba(black, 0.15);
    box-shadow: 0 0 0 transparent;
    transition: 0.2s ease;

  &.hover {
     background: none;
     box-shadow: 0 0 0 5px rgba(black, 0.15);
   }
  }

  .create-button { width: 100%; }
</style>
