@charset "UTF-8";

@font-face {
  font-family: "gainrank";
  src:url("../fonts/gainrank.eot");
  src:url("../fonts/gainrank.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gainrank.woff") format("woff"),
    url("../fonts/gainrank.ttf") format("truetype"),
    url("../fonts/gainrank.svg#gainrank") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gainrank" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="gr-"]:before,
[class*=" gr-"]:before {
  font-family: "gainrank" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gr-spaced {
  margin-right: 15px;
  line-height: 1;
}

.gr-fw {
  width: 1.28571429em;
  text-align: center;
}

.gr-btn {
  font-size: 12px;
  margin-right: 10px;
}

.gr-actions:before {
  content: "\e000";
}
.gr-activity:before {
  content: "\e001";
}
.gr-dashboard:before {
  content: "\e002";
}
.gr-documents:before {
  content: "\e003";
}
.gr-electricity:before {
  content: "\e004";
}
.gr-emoji:before {
  content: "\e005";
}
.gr-leaf:before {
  content: "\e006";
}
.gr-pricing:before {
  content: "\e007";
}
.gr-user-menu:before {
  content: "\e008";
}
.gr-write:before {
  content: "\e009";
}
.gr-target:before {
  content: "\e00a";
}
