// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// Variables
@import "spark";
@import "base";
@import "typography";
@import "ui-elements";
@import "navigation-backend";

// General
body {
  // background-color: #f0f1f4;
  background-color: #fbfbfb;
  // color: #8991a5;
  color: #797a7b;

  &.with-navbar {
    padding-top: 75px;
    color: #000;

    @include mobile { padding-top: 60px; }

    @include desktop { padding-top: 75px; }
  }
}

.container-fluid + .container-fluid {
  margin-top: 30px;
}

.back-wrapper {
  margin-left: 0;
  margin-right: 0;

  @media (min-width: 768px) and (max-width: 1024px) {
    margin-top: 42px;
  }

  div[role="main"] {
    transition: margin-left .5s;
    padding: $medium;
    margin-left: 65px;

    @include mobile { padding: $small; }
  }

  .back-header {
    background-color: $color-menu-item;
    border-bottom: 1px solid $color-secondary-border;
    padding: $small 3rem;

    h5 {
      display: inline-block;
      float: none;
      display: table-cell;
      vertical-align: middle;
      margin-bottom: 0;
    }
    .btn-sidenav {
      float: none;
      display: table-cell;
      padding: 0 0 0 $medium;
      cursor: pointer;

      .fa { padding: 0.5em 0.7em; }
    }
  }

  .back-content {
    @include mobile { padding-right: 0; }
  }
}

.tfa-logo {
  width: 40px;
  margin-right: 15px;
}

.tfa-manual {
  margin-top: 20px;
}

.qr-code {
  width: 200px;
  height: 200px;
}

.tfa-code {
  display: inline-block;
  font-size: 1.2em;
  margin-top: 8px;
}

.backup-code {
  display: inline-block;
  font-size: 1.2em;
  width: 100%;
}

.backup-codes .row + .row {
  margin-top: 8px;
}
