@mixin legacy-ie($v: 9) {
  .ie#{$v} & {
    @content;
  }
}

// Color Scheme - needs editing
$color-primary: #2e9be0;
$color-background: #f5f7f9;
$color-menu-item: #ffffff;
$color-text: #686868;
$color-text-heading: #4a4e4d;
$color-text-weak: #a8a8a8;
$color-primary-border: #1577b5;
$color-secondary-border: #f0f1f1;
$color-light-green: #3ec326;
$color-light-red: #e45d5d;


// Margins & Paddings Sizes
$large: 3.75rem;
$medium: 1.875rem;
$small: 0.9375rem;
$xsmall: 0.313rem;

.margin {
  &.top {
    &.large { margin-top: $large; }
    &.medium { margin-top: $medium; }
    &.small { margin-top: $small; }
  }
  &.bottom {
    &.large { margin-bottom: $large; }
    &.medium { margin-bottom: $medium; }
    &.small { margin-bottom: $small; }
  }
  &.left {
    &.large { margin-left: $large; }
    &.medium { margin-left: $medium; }
    &.small { margin-left: $small; }
  }
  &.right {
    &.large { margin-right: $large; }
    &.medium { margin-right: $medium; }
    &.small { margin-right: $small; }
  }
}

.no-margin { margin: 0 !important; }

.no-padding { padding: 0 !important; }

// Breakpoints
$bootstrap-xs: 767px;
$bootstrap-sm: 768px;
$bootstrap-md: 992px;
$bootstrap-lg: 1500px;

// General mobile rules
@mixin mobile {
  @media (max-width: #{$bootstrap-xs}) {
    @content;
  }
}

// Mobile portrait <360px
@mixin mobile-port {
  @media (max-width: #{$bootstrap-xs - 408px}) {
    @content;
  }
}

// Mobile landscape 500px - 767px
@mixin mobile-land {
  @media (min-width: #{$bootstrap-xs - 267px}) and (max-width: #{$bootstrap-xs}) {
    @content;
  }
}

// Tablet portrait 768px
@mixin tablet-port {
  @media (min-width: #{$bootstrap-sm}) {
    @content;
  }
}

// Tablet landscape 992px
@mixin tablet-land {
  @media (min-width: #{$bootstrap-md}) {
    @content;
  }
}

// Desktop & Tablet landscape 1200px
@mixin desktop {
  @media (min-width: #{$bootstrap-lg}) {
    @content;
  }
}

// Desktop > 1280px
@mixin desktop-xl {
  @media (min-width: #{$bootstrap-lg + 81px}) {
    @content;
  }
}
