// Blog Page
.blog-post {
  margin-bottom: $medium;

  @include mobile { margin-bottom: 0; }

  .thumbnail {

    &.featured {
      position: relative;
      margin-bottom: 0;
      margin-left: $small;
      margin-right: $small;

      .featured-tag {
        position: absolute;
        top: $small;
        left: 0;
        background-color: $color-primary;
        padding: $xsmall $small;
        color: $color-menu-item;
        border-radius: $border-radius-small;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    a {
      &:hover {
        text-decoration: none;
        cursor: hand;

        .caption {
          background-color: $color-secondary-border;

          h3 { color: $color-primary; }
        }
      }
    }

    h3 { margin-bottom: 0; }

    .caption {
      text-align: center;
      min-height: 150px;

      .category-tag {
        position: relative;
        display: inline-block;

        &:before, &:after {
          background: lighten($color-text-weak, 20%);
          content: "";
          height: 1px;
          position: absolute;
          top: 10px;
          width: 20px;
        }

        &:before {
          left: -30px;
        }
        &:after {
          right: -30px;
        }
      }
    }
  }
}

// Single Blog Post Page
.single-post {
  .jumbotron {
    padding: 0;
    position: relative;
    margin-left: $small;
    margin-right: $small;

    img { width: 100%; }

    .post-details {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      padding: $small;
      background: rgba($color-text-heading, 0.3);

      h1, h4 { color: $color-menu-item; }

      h1 {
        font-size: $medium;
        margin-bottom: $xsmall;
      }

      h4 {
        margin-bottom: 0;
        text-transform: uppercase;
      }

      @include mobile {
        h1 { font-size: $medium / 1.5; }
        h4 { font-size: $small / 1.5; }
      }
    }
  }

  .post-content {
    @media (min-width: 960px) {
      width: 66.66666667%;
      float: left;
    }
  }

  .sidebar {

    @media (min-width: 960px) {
      display: block !important;
      width: 33.33333333%;
      float: left;
    }

    h3 {
      background-color: $color-primary;
      padding: $small;
      text-align: center;
      color: $color-menu-item;
    }

    .latest-posts {

      .content-box {
        padding: 0;
        margin-bottom: $small;

        .row {

          img {
            display: table-cell;
            float: left;
            padding: $small;
            max-width: 50%;
          }

          .post-info {
            display: table-cell;
            float: left;
            word-wrap: break-word;
            overflow-wrap: break-word;
            width: 50%;
            padding: $small;
            padding-left: 0;

            p { margin-bottom: 0; }

            @media (min-width: 960px) and (max-width: 1024px) {
              h4 {
                font-size: 1rem;
                margin-bottom: $small;
              }

              p { font-size: $small / 1.5; }
            }
          }
        }
      }

    }
  }

  .post-share {
    ul {
      padding-left: 0;
      list-style: none;
      
      li {
        display: inline-block;

        a {
          padding: $small;
        }
      }
    }
  }
}

// Homepage Blog Slider
#blog-posts-slider {
  .carousel-indicators {
    top: 40%;
    left: 95%;
    width: 1rem;
    margin-left: 0;

    @include mobile {
      top: 24%;
      left: 91%;
    }

    @include mobile-land {
      top: 37%;
      left: 93%;
    }

    li {
      display: block;
      background-color: $color-primary;
      border: none;
      width: 15px;
      height: 15px;
      margin-bottom: $small;

      &.active {
        background-color: $color-menu-item;
        border: none;
      }
    }

  }

  .carousel-inner {
    .item {
      img {
        @include mobile {
          width: 100%;
          object-fit: cover;
          object-position: center;
          height: 25rem;
        }

        @include tablet-port {
          width: 100%;
          object-fit: cover;
          object-position: center;
          height: 25rem;
        }
      }

      .carousel-caption {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color-text-heading, 0.3);
        text-align: left;
        padding-left: 5%;
        padding-right: 10%;

        h2 {
          font-size: 3rem;
          margin-top: 12%;

          @include mobile {
            font-size: 2rem;
            margin-top: 0;
            margin-bottom: $small;
          }

          @include mobile-land {
            font-size: 3rem;
            margin-top: 19%;
          }
        }

        h2, p {
          color: $color-menu-item;
          text-shadow: none;
          font-weight: 400;
        }

        p {
          text-overflow: ellipsis;
        }
      }
    }
  }
}