footer {
  padding-top: $medium;
  padding-bottom: $medium;

  @include desktop-xl {
    margin-left: 16rem;
    margin-right: 16rem;
  }

  .copyright {
    @include mobile { 
      margin-top: $small;
      display: block;
      text-align: center;
    }

    @include tablet-port {
      margin-top: $small;
      text-align: left;
    }

    @media (min-width: 960px) {
      margin-top: 0;
      text-align: left;
    }
  }

  .footer-menu {
    @include legacy-ie(9) {
      display: table;
    }

    ul {
      padding-left: 0;
      list-style: none;
      float: right;
      margin-bottom: 0;

      @media (max-width: 768px) {
        float: none;
      }

      li {
        display: inline-block;
        &:after { content: '\00b7'; font-weight: bold; }

        @include legacy-ie(9){
          display: table-cell;
          text-align: center;
          float: none;

          &:after { content: ''; }
        }

        a {
          color: $color-text;
          padding: $xsmall 6px;

          &.blue { color: $color-primary; }

          @include mobile { font-size: 0.9rem; }

          @include mobile-land { font-size: 1rem; }
        }

        &:last-child {
          &:after { content: ''; }
        }
      }
    }
  }

  .social-media {
    @include legacy-ie(9) {
      display: table;
    }

    @include mobile { 
      margin-top: $small;
      display: block;
    }

    @include tablet-port {
      display: block;
    }

    ul {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 12px 15px;
      list-style: none;
      justify-content: center;
      margin-bottom: 0;

      @include legacy-ie(9) {
        display: table-row;
        text-align: center;
      }

      li {
        display: inline-block;
        float: left;

        @include legacy-ie(9) {
          display: table-cell;
          float: none;
        }

        + li {
          margin-left: 15px;
        }

        a {
          color: #ccc;

          &:hover {
            color: #555;
          }
        }
      }
    }
  }
}