// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Variables
@import "variables";
@import "base";
@import "typography";
@import "ui-elements";
@import "navigation";
@import "footer";
@import "blog";
@import "utilities";


// General
body {
  background-color: $color-background;
  color: $color-text;

  &.internal {
    @include mobile {
      .row[role="main"] { padding-top: 6.3rem; }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $color-text-heading !important;
  }
}
.text-weak { color: $color-text-weak; }

.row { margin: auto; }

.blog-row {
  padding-bottom: 0 !important;
}

.row-eq-height {
  > .eq-height-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    > .content-box {
      flex: 1;
    }
  }
}

// Homepage Jumbotron
.jumbotron.home {
  margin-bottom: 0;
  background-image: url("/images/jumbotron-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  margin-top: -10.1rem;

  @include mobile { margin-top: 0; }

  .container {
    margin-top: 9.5rem;

    h1, h2 {
      color: $color-menu-item !important;
    }

    h1 {
      font-weight: 200;

      span {
        font-weight: 400;
      }
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: $large;
    }

    a[role="button"] {
      @include mobile-port {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: $medium;
      }

      &:last-child { margin-bottom: 0; }
    }

    #tablet-img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// Main Content
.row[role="main"] {
  padding: 0;
  padding-top: $large;
  margin-left: auto;
  margin-right: auto;

  @include mobile { padding-top: 0; }

  @include desktop-xl {
    margin-left: 16rem;
    margin-right: 16rem;
  }

  .row {
    padding-bottom: $medium;
    margin-top: 0;

    @include mobile { padding-bottom: $small; }

    .xs-full-width {
      @include mobile {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }

    .xxs-full-width {
      @media (max-width: 480px) {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }

    &:last-child { padding-bottom: 0; }
  }

  .video-section {
    position: relative;

    > div {
      background-image: url("/images/video-image.jpg");
      background-size: cover; flex: 1;

      @include mobile {
        padding: 45px 0;
        background-position: 0 -100px;
      }
    }

    img {
      width: 100%;
      height: auto;

      @include mobile {
        object-fit: none;
        object-position: center;
        height: 7rem;
      }

      @include mobile-land {
        object-fit: initial;
        object-position: center;
        height: 16rem;
      }

      @include tablet-port {
        object-fit: initial;
        object-position: center;
        height: 19rem;
      }
    }
  }

  .button-row {
    white-space: nowrap;
  }

  @media (max-width: 480px) {
    .button-row,
    h1 {
      text-align: center;
    }
  }
}

// Testimonials
.testimonial {
  @media (min-width: #{$bootstrap-sm}) and (max-width: 959px) {
    width: 50%;
  }

  &:last-child {
    @media (min-width: 960px) {
      display: inline-block !important;
    }
  }
}

.navbar-header {
  .navbar-brand {
    img {
      width: 214px;
      height: 35px;
    }
  }
}