// Main Navigation
.navbar-default {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  margin-bottom: 0;
  padding: $medium 0;
  border-radius: 0;

  &.dark {
    background-color: $color-text-heading;
    padding: $small 0;

    @include mobile { z-index: 1030; }
  }

  @include mobile {
    position: absolute;
    left: 0;
    right: 0;
  }

  .container-fluid {
    @include desktop-xl {
      margin-left: 16rem;
      margin-right: 16rem;
    }
  }

  .navbar-header {
    .navbar-brand {
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row;
      align-items: center;

      @include mobile { padding-left: $medium; }

      @media (max-width: 480px) {
        float: none;
        text-align: center;

        > img {
          margin: 0 auto;
        }
      }
    }

    .navbar-toggle {
      border-color: $color-primary;
      background-color: $color-primary;

      .icon-bar { background-color: $color-menu-item; }

      &:hover, &:active, &:focus {
        background-color: lighten($color-primary, 20%);
        border-color: lighten($color-primary-border, 20%);
      }

      @media (max-width: 480px) {
        float: none;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .navbar-collapse {

    &.in {
      li {
        a {
          color: $color-text;
          padding: 0;
        }

        &.active {
          a {
            color: $color-primary;

            &:hover, &:active, &:focus {
              color: $color-primary;
            }
          }
        }
      }
    }

    @include mobile {
      background-color: $color-menu-item;
      margin: $medium 0;



      li {
        text-align: center;
        padding: 1rem 0;

        a {
          color: $color-text;
          padding: 0;
        }

        &.active {
          a {
            color: $color-primary;

            &:hover, &:active, &:focus {
              color: $color-primary;
            }
          }
        }

        &:last-child {
          background-color: $color-background;

          a {
            color: $color-menu-item;
            width: auto;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }

  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;

    li {
      text-transform: uppercase;

      + li {
        margin-left: 2em;

        @include mobile {
          margin-left: 0;
        }
      }

      a {
        color: $color-menu-item;

        &:hover, &:active, &:focus { color: $color-primary; }

        &.btn {
          &.btn-blank {
            padding: 1em 0;

            &:hover,
            &:active,
            &:focus {
              color: #ddd;
            }
          }

          &.btn-primary {
            padding: 1em 2em;

            &:hover, &:active, &:focus {
              background-color: lighten($color-primary, 20%);
              border-color: lighten($color-primary-border, 20%);
              color: $color-menu-item;
            }
          }
        }
      }

      &.active {
        a {
          background-color: transparent;
          background-image: none;
          box-shadow: none;
          color: #ddd;
          filter: none;

          &:hover, &:active, &:focus {
            background-color: transparent;
            filter: none;
            color: $color-primary;
          }
        }
      }
    }
  }
}