// Main Navigation
.navbar-inverse {
  background-color: #2b2a29;
  border-color: transparent;
  font-family: 'Varela Round', sans-serif;
  min-height: 50px;
  border-bottom: 0;

  @media (min-width: 768px) and (max-width: 1024px) {
    padding-left: 0;
    padding-right: 0;
  }

  @include tablet-land {
    //padding-left: $medium;
    //padding-right: $medium;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-header {
    @include tablet-port { /*margin-right: 7rem;*/ }

    @include desktop { margin-right: $small; }

    .hamburger { height: 50px; }

    .navbar-brand {
      height: 50px;

      img {
        height: 30px;
        width: auto;
      }
    }
  }

  .user-menu {
    a {
      color: #4c4c4c !important;

      i {
        color: #4c4c4c !important;
      }
    }
  }

  .navbar-nav {
    height: 100%;

    li {
      &.active {
        a {
          background-color: #353535;

          &:hover,
          &:focus,
          &:active {
            background-color: #353535;
          }
        }
      }

      a {
        height: auto;
        // color: #959cac;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: 600;
        display: flex;
        flex-flow: row;
        align-items: center;

        &:hover,
        &:focus,
        &:active {
          background-color: #353535;
        }

        .fa {
          margin-right: $small;
          font-size: large;
        }

        &.has-activity-indicator {
          background-color: #3b3e46;
        }
      }
    }

    &.navbar-right {
      .spark-nav-profile-photo {
        height: 30px;
        width: 30px;
      }

      .navbar-icon {
        margin-bottom: -3px;
      }

      .gr-user-menu {
        display: inline-block;
        font: normal normal normal 0.9em/1 "Varela Round";
        font-size: inherit;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        position: absolute;
        top: 0;
        right: 1rem;
      }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      li {
        a {
          //padding-left: 0;
          font-size: 12px;

          .fa { margin-right: $xsmall; }
        }
      }
    }
  }
}

// Sidenav
.sidenav {
  height: 100%;
  width: 80px;
  position: fixed;
  top: 115px;
  left: 0;
  z-index: 1;
  background-color: $color-menu-item;
  overflow-x: hidden;
  padding-top: $medium;
  transition: 0.5s;

  &.with-notice {
    top: 169px;
  }

  @include mobile { top: 121px; }

  @media (min-width: 768px) and (max-width: 1024px) { top: 172px; }

  a {
    white-space: nowrap;
    span {
      display: none;
    }
  }

  .nav-pills {
    li {
      &.fixed-bottom {
        a {
          position: fixed;
          bottom: 0;
          padding: $small $medium $medium;
        }
      }

      a {
        transition: 0.005s;
        color: #8991a5;
        padding: $small $medium;
        font-weight: 400;
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 50px;

        &:hover, &:focus, &:active {
          color: #8991a5;
          background-color: rgba($color-background, 0.7);
        }

        .fa,
        .gr-spaced {
          margin-right: $small;
          color: rgba($color-text, 0.3);
        }
      }

      &.active {
        a, a:hover, a:focus, a:active  {
          color: $color-primary;
          background-color: rgba($color-background, 0.7);
          border-left: 2px solid;
          border-radius: 0;

          .fa { color: rgba($color-text, 0.3); }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar-nav.navbar-right {
      position: relative !important;
  }

  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
