// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html { font-size: 100%; }

body {
  //font-family: 'Varela Round', sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #464646;
  margin-top: 0;
  margin-bottom: $medium;

  &.blue, .blue { color: $color-primary; }

  &.light, .light { color: $color-text-weak; }
}

h1 { font-size: 3rem; }

h2 { font-size: 2.5rem; }

h3 { font-size: 2rem; }

h4 { font-size: 1.375rem; }

h5 { font-size: 0.87rem; }

h6 { font-size: 0.75rem; }

p { margin-bottom: $medium; }

.btn {
  font-family: 'Varela Round', sans-serif;
  font-size: 0.87rem;
  letter-spacing: 0.7px;
}

h1 small { color: inherit; }

.light { color: $color-text-weak; }
.light-green { color: $color-light-green;}
.light-red { color: $color-light-red;}
.gold { color: #FFD700; }
.google-blue { color: #4285F4; }
.text-danger { color: #ff4d4d !important; }