// Full page container
.container-fluid.full-page {
  @include desktop-xl {
    margin-left: 16rem;
    margin-right: 16rem;
  }

  .content-box {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    @include mobile { padding-top: $large * 2; }
  }
}

// Content Boxes
.content-box {
  background-color: $color-menu-item;
  border: 1px solid $color-secondary-border;
  padding: $large;
  border-radius: $border-radius-base;

  @include mobile { margin-bottom: $small; }

  .text-right,
  .text-left {
    text-align: center;
  }

  a[role="button"] {
    @include mobile {
      text-align: center;
      margin-bottom: $small;
    }
  }

  &.backend {
    margin-bottom: $medium;
    padding: $medium;
  }

  &.w-header {
    padding: 0;

    .box-header {
      padding: $medium;
      background-color: #f7f7f7;
      border-bottom: 1px solid $color-secondary-border;

      h5 { 
        margin-bottom: 0;
        color: #8991a5 !important;
      }
    }

    .box-body {
      padding: $medium;
    }
  }
}

// Data Boxes
.data-box-row {
  margin-bottom: $medium;

  > * + * {
    border-left: 1px solid #dddfe5;
  }
}

.data-box {
  padding-left: 25px;

  .fa-chevron-up,
  .fa-chevron-down,
  .fa-minus {
    font-size: 1.2em;
    margin-right: $small;
  }

  h1 {
    font-weight: 600;
    margin: $xsmall 0;
  }
}


// Buttons
.btn {
  text-transform: uppercase;
  border-color: $color-primary-border;
  padding: $xsmall $small;
  border-radius: $border-radius-small;


  &.large {
    padding: $small $medium;
  }

  &:last-child { margin-right: 0; }

  &.btn-primary {
    background-color: $color-primary;
    color: $color-menu-item;

    &:hover, &:active, &:focus, &.active {
      background-color: lighten($color-primary, 20%);
      border-color: lighten($color-primary-border, 20%);
    }
  }

  &.btn-default {
    background-color: transparent;
    color: $color-primary;

    &:hover, &:active, &:focus, &.active {
      background-color: transparent;
      border-color: lighten($color-primary-border, 20%);
      color: lighten($color-primary-border, 20%);
    }
  }
}


// Links
.link {
  font-size: 0.87rem;
  text-transform: uppercase;

  &.white { color: $color-menu-item; }
  &.blue { color: $color-primary; }
}


// Thumbnails
.thumbnail {
  padding: 0;
  margin-bottom: 0;
  border:  $color-secondary-border;

  @include mobile { margin-bottom: $small; }

  img { width: 100%; }

  .caption {
    padding: $medium;

    p { margin-bottom: 0; }
  }
}

// Rating
.rating { 
  color: #FFD700;
  font-size: 1.2em;

  > * + * {
    margin-left: 5px;
  }
}


// Modals
#modal-notifications {
  .modal-header {
    .btn-group {
      margin-top: $xsmall;

      .btn {
        width: auto!important;
        display: inline-block;
        float: left;
        font-size: 12px;
        padding: $xsmall $small;
        margin-right: $small;
        border-radius: $border-radius-small !important;

        &:last-child { margin-right: 0; }
      }
    }
  }
}

// Chartist elements

// just for reference, not used directly, for updating colors see below
$default-ct-series-colors: (
  #64a3cb,
  #979ca5,
  #f4c63d,
  #d17905,
  #453d3f,
  #59922b,
  #0544d3,
  #6b0392,
  #f05b4f,
  #dda458,
  #eacf7d,
  #86797d,
  #b2c326,
  #6188e2,
  #a748ca
) !default;

.ct-donut-small .ct-series .ct-slice-donut {
  stroke-width: 25px !important;
}

.ct-point {
  stroke-width: 7px !important;
}

.ct-line {
  stroke-width: 2px !important;
}

.ct-donut-small .ct-series-a .ct-slice-donut {
  stroke: $color-primary;
}

.ct-donut-small .ct-series-b .ct-slice-donut {
  stroke: $color-text;
}

.ct-donut-small .ct-series-c .ct-slice-donut {
  stroke: $color-primary-border;
}

.ct-progress .ct-series-a .ct-bar {
  stroke: #359ee1;
}

.ct-progress .ct-series-b .ct-bar {
  stroke: $color-secondary-border;
}

.ct-chart .ct-label.ct-horizontal {
  text-align: center !important;
}

.ct-large-bar {
  .ct-series-a .ct-bar,
  .ct-series-b .ct-bar {
    stroke-width: 20px;
  }
}

/* Chart overrides */
.ct-series-a .ct-area {
  fill: #64a3cb !important;
}

.ct-series-b .ct-area {
  fill: #979ca5 !important;
}

.ct-area {
  fill-opacity: 0.5 !important;
}

.ct-grid {
  stroke-dasharray: 0 !important;
  stroke: rgba(200, 200, 200, 0.2) !important;
}

.ct-series-a .ct-slice-donut {
  stroke: #2c8dca !important;
}

.ct-series-b .ct-slice-donut {
  stroke: #359ee1 !important;
}

.ct-series-c .ct-slice-donut {
  stroke: #99a0b1 !important;
}

.ct-label.ct-horizontal.ct-end {
  word-spacing: 1000px;
}

/* Chart legends */
.ct-legend {
    position: relative;
    z-index: 10;
    list-style-type: none;
    padding-left: 0;

    li {
        position: relative;
        padding-left: 23px;
        margin-bottom: 3px;
    }

    li:before {
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0;
        content: '';
        border: 3px solid transparent;
        border-radius: 2px;
    }

    li.inactive:before {
        background: transparent;
    }

    &.ct-legend-inside {
        position: absolute;
        top: 0;
        right: 0;
    }

    @for $i from 0 to length($default-ct-series-colors) {
        .ct-series-#{$i}:before {
            background-color: nth($default-ct-series-colors, $i + 1);
            border-color: nth($default-ct-series-colors, $i + 1);
        }
    }
}

.checkbox-outer {
  width: 15px;
  position: relative;

  label {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    margin-bottom: 0;

    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }

    &:hover::after {
      opacity: 0.5;
    }
  }

  input[type=checkbox] {
    margin: 0;
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }    
}

.fa-square {
  font-size: 1.2em;
}

/* Features */
.features {
  .intro {
    margin-bottom: $large;
  }

  .semi-intro {
    margin: $medium 0;
  }

  h4 {
    margin-bottom: 10px;
  }
}
