.border-none {
    border: 0;
}

.height-80 {
    height: 80px;
}

.visible-xxs {
    display: none;

    @media (max-width: 480px) {
        display: block;
    }
}

.hidden-xxs {
    @media (max-width: 480px) {
        display: none;
    }
}

.hidden-lg {
    @media (min-width: 1200px) and (max-width: 1599px) {
        display: none;
    }
}

.hidden-xl {
    @media (min-width: 1600px) and (max-width: 1799px) {
        display: none;
    }
}

.hidden-xxl {
    @media (min-width: 1800px) {
        display: none;
    }
}

.visible-xxl {
    display: none !important;

    @media (min-width: 1800px) {
        display: inherit !important;
    }
}

.visible-sm-xs {
    display: none !important;

    @media (max-width: 1280px) and (min-width: 993px) {
        display: inherit !important;
    }
}

.hidden-sm-xs {
    display: inherit !important;

    @media (max-width: 1280px) and (min-width: 993px) {
        display: none !important;
    }
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

    @media (max-width: 768px) {
        display: block;
    }
}

.flex-container {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;

    &.center {
    	justify-content: center;
    }

    &.left {
    	justify-content: flex-start;
    }

    &.right {
    	justify-content: flex-end;
    }

    > p {
    	margin-bottom: 0;
    }
}

.btn-blank {
	border: 0;

	&:active {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.btn-inverse {
	color: #fff;

	&:hover,
	&:active,
	&:focus {
		color: #ddd;
	}
}

.boxed {
	border-radius: 0 !important;
	margin-bottom: 0 !important;
}

.pulsating {
	-webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}

.fa-spaced {
    margin-right: 10px;
}

.table-hover {
    cursor: pointer;
}

.form-control[readonly] {
    background-color: inherit !important;
}

.table-striped > tbody > tr.active,
.table-striped > tbody > tr.active:hover,
.table-striped > tbody > tr.active:hover > td,
.table-striped > tbody > tr.active > td,
.table-striped > tbody > tr.active > td:hover {
    background-color: #d8ecff;
}

@-webkit-keyframes pulsate {
    0% {color: rgb(104, 104, 104);}
    50% {color: #fff;}
    100% {color: rgb(104, 104, 104);}
} 

@keyframes pulsate {
    0% {color: rgb(104, 104, 104);}
    50% {color: #fff;}
    100% {color: rgb(104, 104, 104);}
}

.universal-alert {
    margin-top: -20px;
}

// overrides

body {
  &.with-navbar {
    padding-top: 75px;
  }
}

@media (min-width: 992px) {
    .navbar-inverse {
        padding-left: 0;
        padding-right: 0;
    }
}

// auth form
.brand-row {
    margin-bottom: 20px;
}

.auth-body {
    background-color: #F0F3F4;

    .copyright {
        font-size: 0.8em;
        text-align: center;
    }
}

.auth-form {
    h5 {
        color: #565656;
        font-weight: 700;
        margin-bottom: 0;
    }

    .row + .row {
        margin-top: 20px;
    }

    .btn-link {
        border: 0;
        text-transform: none;
    }

    .separator {
        color: #565656;
        display: block;
        margin: 10px 0;
    }

    .btn-primary,
    .btn-default {
        padding: 10px;
    }

    .alert > ul {
        padding-left: 20px;
    }
}

.input-cluster {
    margin-bottom: 10px;

    .form-group {
        margin-bottom: 0;

        input[type=email],
        input[type=text],
        input[type=number],
        input[type=password],
        textarea {
            background-color: #fff;
            border: 0;
            border-radius: 0;

            &:focus,
            &:active {
                box-shadow: none;
                outline: none;
            }
        }
    }
}